{% extends 'main/index.html' %}
{% load static %}


{% block content %}
    <table border="1" width="100%" cellpadding="5">
    <tr> <a href= "{% url 'view-db' %}"> Назад </a> </tr>
    <tr>
        {% for title in title_caps %}
            <th> {{ title }} </th>
        {% endfor %}
    </tr>
 
    {% for sub in objects %}
    <tr>
       <td> {{ sub.title }} </td>
       <td> {{ sub.pk }} </td>
       <td> <button onclick="window.location.href = '#';">Удалить</button> </td>
    </tr>
    {% endfor %}
 
  </table>

{% endblock %}